.nav {
    width: 100%;
}
.nav ul{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
}
.nav a{
    color:white
}
.special button{
    all: unset;
    text-decoration: underline;
}

.login_button{
    border-radius: 30px;
    height: 40px;
    width: 70px;
    background-color: var(--orange_color);
    color: white;
    font-size: 16px;
}

.add_book_phone{
    display: block;
}

.add_book_desktop{
    display: none;
}

@media only screen and (min-width: 768px){ 
    .nav ul{
        display: flexbox;
        flex-direction: column;
        min-height: 100vh;
        justify-content: flex-start;
    }
    .nav li {
        margin-top: 50px;
    }

    .special,
    .login_button{
        display: none;
    }

    .add_book_phone{
        display: none;
    }

    .add_book_desktop{
        display: block;
        all: unset;
        cursor: pointer;
        text-decoration: underline;
    }
}