@import '../../variables.css';
.order_form{
    background-color: var(--orange_color);
    padding: 5px 30px;
    color: var(--dark_color);
}

.order_form button{
    width: 50px;
}

.order_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.order_radio{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.order_hidden{
    display: none;
}

@media only screen and (min-width:768px) {
    .order_form{
        position: absolute;
        top: 48px;
        width:30%;
        right: 0;
    }
    .order_row{
        justify-content: space-between;
        margin-bottom: 5px;
        align-items: center;
    }
    .order_radio{
        flex-direction: row;
    }
}