@import '../../variables.css';
.book_details table{
    width: 250px;
    height: 250px;
}

.book_details img{
    margin-top: 50px;
    width: 250px;
    height: 202px;
}

.book_details tr{
    margin-bottom: 10px;
}

.book_details th{
    text-align: left;
}

.book_details_author_th{
    vertical-align: top;
}

.book_details td{
    text-align: right;
}

.book_details button{
    background-color: var(--dark_color);
    color:white;
    border-radius: 30px;
    height: 40px;
}

.book_details_buttons{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.book_modify_phone{
    display: block;
}

.book_modify_desktop{
    display: none;
}

@media only screen and (min-width: 768px) {
    .book_modify_phone{
        display: none;
    }
    
    .book_modify_desktop{
        display: block;
    }

    .book_details{
        display: flex;
        gap: 20%;
        width: 100%;
        justify-content: center;
    }

    .book_details img{
        margin-top: 100px;
        width: 350px;
        height: 302px;
        order: 1;
    }

    .book_details table{
        margin-top: 100px;
        width: 350px;
        height: 350px;
    }

    .book_details_rent_history{
        width: 100%;
    }
}