.search button {
    margin-left: 4px;
    background-color: var(--dark_color);
    color:white;
    border-radius: 30px;
    height: 30px;
}

.logout_link{
    display: none;
}

@media only screen and (min-width: 768px){
    .search{
        position: absolute;
        left: 0;
        right: 15%;
    }
   .search button{
        width: 70px;
        height: 35px;
   }
   .search input{
        height: 35px;
        width: 40%;
   }

   .logout_link {
        display: flex;
        right: 10px;
        top: 15px;
        position: fixed;
        color: var(--dark_color)
    }
}