

@media only screen and (min-width: 768px){
    .home{
        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: 100%;
    }
    .screen_search{        
        background-color: var(--orange_color);
        display: flex;
        min-height: 64px;
        top: 0;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
    }
}
.inf_wrap {
    padding-bottom: 120px;
    height: calc(100%-85px);
}
