@media only screen and (min-width: 768px){
    .home{
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .screen_search{        
        background-color: var(--orange_color);
        display: flex;
        min-height: 64px;
        position: sticky;
        top: 0;
        justify-content: center;
        align-items: center;
    }
}